<div class='container'>
    <div class='map' #mapContainer>
        @if (browser) {
            <app-output-map [tag]='tag()'></app-output-map>
        }
        <div class='borders' [class.fullscreen]='!mainMenuOpen()'>
            <div class='border b1'></div>
            <div class='border b2'></div>
            <div class='border b3'></div>
        </div>
        <div class='logo' [class.fullscreen]='!mainMenuOpen()'></div>
        <div class='menu-button' (click)='mainMenuOpen.set(!mainMenuOpen())'>
            <svg class='button' [class.open]='mainMenuOpen()' xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path d="M7.375 9.51953L12.375 14.5195L17.375 9.51953" stroke="#6C707B" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
            <span i18n>MENU</span>
        </div>
    </div>
    <div class='menu-container' [style.height.px]='mainMenuOpen() ? state.mainMenuHeight() : 0'>
        <app-main-menu 
            (explore)='mainMenuOpen.set(false)'
        ></app-main-menu>
    </div>
    @if (state.aboutVisible()) {
        <div class='about'>
            <div class='about-header'>
                <a (click)='state.aboutVisible.set(false)'>
                    <div class='back'></div>
                    <div class='logo'></div>
                </a>
            </div>
            <app-about></app-about>
        </div>
    }
</div>