<div class='messages' #messagesEl [class.bg]='bg' [style.padding-top.px]='paddingTop'>
    @for (message of messages(); track $index) {
        <div class='message' [class.human]="message.kind === 'human'" [class.ai]="message.kind === 'ai'" [class.part]="message.part" ltr>
            <span class='message-text' [innerHTML]="message._()"></span>
        </div>
    }
    <ng-content select='.message'></ng-content>
    <div class='spacer'  [style.min-height.px]='spacerHeight()'>
        <div class='thinking-animation' [class.visible]='thinking()' #thinkingEl></div>
        <div class='under-spacer' [style.height.px]='spacerHeight()' #spacer></div>
        <ng-content select='.spacer'></ng-content>
    </div>
</div>