<div class='menu' [style.height.px]='HEIGHT'>
    <app-language-selector></app-language-selector>
    <div class='links'>
        <a class='simple' [routerLink]='["/"]' queryParamsHandling="preserve">explore the map</a>
        <a class='simple' href='https://google.com' target="_blank">About + Contact</a>
        <a class='simple' href='https://google.com' target="_blank">Join a workshop</a>
        <a class='simple' href='https://google.com' target="_blank">A Land For all</a>
        <a class='primary' [routerLink]='["/prescan"]' queryParamsHandling="preserve">Add to map</a>
    </div>
</div>
