<div class='container' #container></div>
<app-qrcode [small]='qrSmall()' [url]='qrUrl()'></app-qrcode>
<div class='logo'>
</div>

<!-- Filters Controls -->
<div class='controls-wrapper'>
  <app-showcase-filters
    [currentLayout]='currentLayout()'
    [enableRandomShowcase]='enableRandomShowcase()'
    [resetLayoutOnFilter]='resetLayoutOnFilter()'
    (layoutChange)='onLayoutChange($event)'
    (randomShowcaseToggle)='onRandomShowcaseToggle()'
    (resetLayoutToggle)='onResetLayoutToggle()'>
  </app-showcase-filters>
</div>

<!-- Lightbox -->
<app-showcase-lightbox
  [isOpen]='lightboxOpen()'
  [photos]='allPhotos()'
  [currentPhotoId]='lightboxPhotoId()'
  (close)='closeLightbox()'
  (navigate)='navigateLightbox($event)'>
</app-showcase-lightbox>
