@import '../../../common-admin.less';

:host {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    width: 100%;
    height: 100%;
    overflow: auto;
}