@import '../../common.less';

.spacer {
    // position: absolute;
    // bottom: 0;
    width: 100%;
    height: 100%;
    overflow: visible;

    & > * {
        width: 100%;
        height: 100%;
        overflow: visible;
    }
}