<app-messages #messages>
    <div class='spacer'>
        @switch (step()) {
            @case (0) {
                <app-collect-properties-favorable (done)='completeStep($event)'></app-collect-properties-favorable>
            }
            @case (2) {
                <app-collect-properties-potential [prefer]="!!prefer()" (done)='completeStep($event)'></app-collect-properties-potential>
            }
            @case (4) {
            }
            @case (6) {
            }
        }
    </div>
</app-messages>
