@import '../../common.less';

.container {
    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    padding-top: 32px;
    transform-origin: center;

    img {
        width: 50%;
        position: relative;
        z-index: 1;
    }

    .line {
        position: absolute;
        top: 30px;
        left: -100%;
        width: 400%;
        height: 2px;
        border-top: 4px solid;
        border-top-color: @color-prevent;
    }

    &.preferred {
        // transform-origin: 70% 0;
        .line {
            border-top-color: @color-prefer;
        }
    }

    .prefer, .prevent {
        .background-image;
        width: 40px;
        height: 106px;
        position: absolute;
        z-index: 2;
    }

    .prefer {
        background-image: url(../../../public/img-pin-prefer-v.svg);
        top: -16px;
        left: 26%;
        transform: rotate(-13deg)scale(1);
    }

    .prevent {
        background-image: url(../../../public/img-pin-prevent-v.svg);
        top: -4px;
        left: 59%;
        transform: rotate(16deg) scale(1);    
    }
}