<div #map class='map'></div>
@if (config && showClusters) {
    <div class='clusters'>
        <div class='container'
            [style.height.%]="100"
            [style.width.vh]="config.dim[0]*config.conversion_ratio[0] / config.dim[1] / config.conversion_ratio[1] * 100"
        >
            @for (cluster of config.clusters; track $index) {
                <div class='cluster'
                    [style.left.%]="cluster.x"
                    [style.top.%]="cluster.y"
                >
                    <div class='cluster-name'>{{ cluster.title }}</div>
                </div>
            }
        </div>
    </div>
}
