<div #map class='map'></div>
@if (config && showClusters) {
    <div class='clusters'>
        <div class='container'
            [style.width.%]="100"
            [style.height.vw]="config.dim[1]*config.conversion_ratio[1] / config.dim[0] / config.conversion_ratio[0] * 100"
        >
            @for (cluster of config.clusters; track $index) {
                <div class='cluster'
                    [style.left.%]="cluster.x"
                    [style.top.%]="cluster.y"
                >
                    <div class='cluster-name'>{{ cluster.title }}</div>
                </div>
            }
        </div>
    </div>
}
