<div #mapEl class='map' [style.transform]='mapTransform()'></div>
<div #clusterLabelsEl style='display:none'>
    @if (map()) {
        <svg xmlns="http://www.w3.org/2000/svg" class='cluster-labels' [attr.width]='w()' [attr.height]='h()' [attr.viewBox]='"0 0 " + w() + " " + h()' [class.visible]='clusterLabelsVisible()'>
            <g transform="translate(0,0)">
                <rect [attr.x]='0' [attr.y]='0' [attr.width]='w()' [attr.height]='h()' fill='#fffdf6' opacity='0.5'></rect>
                @for (cluster of config().clusters; track $index) {
                    <g [attr.transform]='"translate(" + cluster.x + "," + cluster.y + ")"'  [class.positive]='cluster.average_rotation <= 0' [class.negative]='cluster.average_rotation > 0'>
                        <g [style.transform]='"rotate(" + (-cluster.average_rotation*2) + "deg)"'>
                        
                        <text x='0' y='0' 
                            [attr.font-size]="cluster.fontSize[lang()]"
                            text-anchor="middle" alignment-baseline="middle"
                        >
                            {{ cluster.title[lang()] }}
                        </text>
                    </g></g>
                }
            </g>
        </svg>
    }    
</div>
<div #maskEl class='mask-overlay' style='display:none'>
    <svg xmlns="http://www.w3.org/2000/svg" class='mask' [class.visible]='maskLayerVisible()'
        [attr.width]='wdim()' [attr.height]='hdim()' [attr.viewBox]='"0 0 " + wdim() + " " + hdim()' preserveAspectRatio="none">
        <mask id='mask'>
            <rect [attr.x]='0' [attr.y]='0' [attr.width]='wdim()' [attr.height]='hdim()' fill='white'></rect>
            <g transform="translate(0,0)" >
                @for (maskItem of maskItems(); track $index) {
                    <rect [attr.x]='maskItem.x' [attr.y]='maskItem.y' [attr.width]='1' [attr.height]='1' fill='black'></rect>
                }
            </g>
        </mask>
        <rect class='blur' [attr.x]='0' [attr.y]='0' [attr.width]='wdim()' [attr.height]='hdim()' fill='#fffdf6' mask='url(#mask)'></rect>
    </svg>
</div>
<div class='image-overlay' [class.visible]='itemImgVisible()'>
    @if (coneVisible()) {
        <div class='cone'>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 1000 1000" fill="none">
                <g [class]="'expander ' + coneExpand()">
                    <g transform='translate(0,500)'>
                        <g class='probable preferred cone-line' transform-origin="150 0">
                            <path class='line' d="M150 0 L850 0" stroke='#698CFF' stroke-width="1"></path>
                            <text class='label' x='850' y='0' dy="6" dx='16' fill='#698CFF' font-size="24" i18n>Probable</text>
                        </g>
                        <g class='plausible preferred cone-line' transform-origin="150 0">
                            <path class='line' d="M150 0 L850 0" stroke='#698CFF' stroke-width="1"></path>
                            <text class='label' x='850' y='0' dy="6" dx='16' fill='#698CFF' font-size="24" i18n>Plausible</text>
                        </g>
                        <g class='possible preferred cone-line' transform-origin="150 0">
                            <path class='line' d="M150 0 L850 0" stroke='#698CFF' stroke-width="1"></path>
                            <text class='label' x='850' y='0' dy="6" dx='16' fill='#698CFF' font-size="24" i18n>Possible</text>
                        </g>
                        <g class='preposterous preferred cone-line' transform-origin="150 0">
                            <path class='line' d="M150 0 L850 0" stroke='#698CFF' stroke-width="1"></path>
                            <text class='label' x='850' y='0' dy="6" dx='16' fill='#698CFF' font-size="24" i18n>Preposterous</text>
                        </g>
                        <g class='probable prevent cone-line' transform-origin="150 0">
                            <path class='line' d="M150 0 L850 0" stroke='#F73C3C' stroke-width="1"></path>
                            <text class='label' x='850' y='0' dy="6" dx='16' fill='#F73C3C' font-size="24" i18n>Probable</text>
                        </g>                    
                        <g class='plausible prevent cone-line' transform-origin="150 0">
                            <path class='line' d="M150 0 L850 0" stroke='#F73C3C' stroke-width="1"></path>
                            <text class='label' x='850' y='0' dy="6" dx='16' fill='#F73C3C' font-size="24" i18n>Plausible</text>
                        </g>
                        <g class='possible prevent cone-line' transform-origin="150 0">
                            <path class='line' d="M150 0 L850 0" stroke='#F73C3C' stroke-width="1"></path>
                            <text class='label' x='850' y='0' dy="6" dx='16' fill='#F73C3C' font-size="24" i18n>Possible</text>
                        </g>
                        <g class='preposterous prevent cone-line' transform-origin="150 0">
                            <path class='line' d="M150 0 L850 0" stroke='#F73C3C' stroke-width="1"></path>
                            <text class='label' x='850' y='0' dy="6" dx='16' fill='#F73C3C' font-size="24" i18n>Preposterous</text>
                        </g>
                        <g class='projected'>
                            <path class='line' d="M150 0 L850 0" stroke='#8F8F8F' stroke-width="1"></path>
                            <text class='now' x='150' y='0' dy="6" dx='-16' fill='#8F8F8F' font-size="24" text-anchor='end' i18n>NOW</text>
                            <text class='label' x='850' y='0' dy="6" dx='16' fill='#8F8F8F' font-size="24" transform='translate(-650,0)' i18n>PROJECTED</text>    
                            <circle class='circle' cx='150' cy='0' r='5' fill='#8F8F8F'></circle>
                        </g>    
                    </g>
                </g>
            </svg>
        </div>
    }
    <div class='clothespin-text prefer' [class.visible]='clothespinTextVisible() === "prefer" || clothespinTextVisible() === "both"' i18n>Prefer</div>
    <div class='item-image' [style.transform]='overlayTransform()'>
        <img [src]='itemImg()'>
        <div class='clothespin prefer' [class.visible]='clothespinVisible() === "prefer" || clothespinVisible() === "both"' [class.selected]='clothespinSelected()'>
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="111" viewBox="0 0 23 111" fill="none">
                <rect x="2.16016" y="0.699219" width="18.2673" height="109.971" rx="2.21559" fill="#7BB3EE"/>
                <rect x="3.26795" y="1.80701" width="16.0517" height="107.756" rx="1.1078" stroke="black" stroke-opacity="0.2" stroke-width="2.21559"/>
                <rect x="4.40234" y="75.3086" width="13.7719" height="4.81618" fill="black" fill-opacity="0.2"/>
                <path d="M4.41016 77.7159H21.6625L21.6625 40.1367" stroke="#7BB3EE" stroke-width="2.21559" stroke-linecap="round"/>
                <path d="M4.41016 77.7159H21.6625L21.6625 40.1367" stroke="black" stroke-opacity="0.5" stroke-width="2.21559" stroke-linecap="round"/>
                <path d="M1.28125 51.9714L1.28125 40.1367" stroke="#7BB3EE" stroke-width="2.21559" stroke-linecap="round"/>
                <path d="M1.28125 51.9714L1.28125 40.1367" stroke="black" stroke-opacity="0.5" stroke-width="2.21559" stroke-linecap="round"/>
            </svg>
        </div>
        <div class='clothespin prevent' [class.visible]='clothespinVisible() === "prevent" || clothespinVisible() === "both"' [class.selected]='clothespinSelected()'>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="111" viewBox="0 0 24 111" fill="none">
                <rect x="2.49219" y="0.699219" width="18.2673" height="109.971" rx="2.21559" fill="#F73C3C"/>
                <rect x="3.59998" y="1.80701" width="16.0517" height="107.756" rx="1.1078" stroke="black" stroke-opacity="0.2" stroke-width="2.21559"/>
                <rect x="4.73828" y="75.3086" width="13.7719" height="4.81618" fill="black" fill-opacity="0.2"/>
                <path d="M4.74219 77.7159H21.9945L21.9945 40.1367" stroke="#F73C3C" stroke-width="2.21559" stroke-linecap="round"/>
                <path d="M4.74219 77.7159H21.9945L21.9945 40.1367" stroke="black" stroke-opacity="0.5" stroke-width="2.21559" stroke-linecap="round"/>
                <path d="M1.61328 51.9714L1.61328 40.1367" stroke="#F73C3C" stroke-width="2.21559" stroke-linecap="round"/>
                <path d="M1.61328 51.9714L1.61328 40.1367" stroke="black" stroke-opacity="0.5" stroke-width="2.21559" stroke-linecap="round"/>
            </svg>          
        </div>
    </div>
    <div class='clothespin-text prevent' [class.visible]='clothespinTextVisible() === "prevent" || clothespinTextVisible() === "both"' i18n>Prevent</div>
</div>
