<div class='image-overlay'>
    <div class='image' [class.small]='small()' [style.transform]='imageTransform()'>
        <img [src]="imageUrl()" #image/>
        @if (completed() && !small()) {
            <div class='line' [class.prefer]='imageRotation() < 0' [class.prevent]='imageRotation() > 0'></div>
        }
    </div>
</div>
<div class='discuss' [class.visible]="visible()" [class.completed]="completed()">
    <app-messages #messagesComponent [bg]='!completed()' [thinking]='thinking()'>
        @if (!thinking() && reply()) {
            <div class='message ai' ltr>
                <div class='message-text'>{{ reply() }}</div>
            </div>
        }
        @if (failed()) {
            <div class='message ai' ltr>
                <div class='message-text'>Something went wrong... please refresh the page or try again in a few minutes.</div>
            </div>
        }
    </app-messages>
    @if (inputVisible()) {
        <div class='input' ltr>
            <input
                class='input-el'
                [(ngModel)]="inputMessage"
                (keyup.enter)="submitMessage()"
                [disabled]='inputDisabled()'
                lines="2"
                placeholder="in your own words..."
                i18n-placeholder
            />
            <svg width="40" height="40" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg" class='submit' (click)="submitMessage()">
                <rect x="0.75" y="0.5" width="40" height="40" rx="20" fill="#4E02B2"/>
                <g clip-path="url(#clip0_1016_4900)">
                    <path d="M20.75 28.5V12.5M20.75 12.5L26.75 18.5M20.75 12.5L14.75 18.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                    <clipPath id="clip0_1016_4900">
                    <rect width="24" height="24" fill="white" transform="translate(8.75 8.5)"/>
                    </clipPath>
                </defs>
            </svg>
        </div>
    }
</div>
@if (buttonsVisible()) {
    <div class='buttons' ltr>
        <a (click)='shareImage()' class="button primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                <path d="M12.25 5.5V14M15.25 7.5L12.25 4.5L9.25 7.5M5.25 12.5V17.5C5.25 18.0304 5.46071 18.5391 5.83579 18.9142C6.21086 19.2893 6.71957 19.5 7.25 19.5H17.25C17.7804 19.5 18.2891 19.2893 18.6642 18.9142C19.0393 18.5391 19.25 18.0304 19.25 17.5V12.5" stroke="#4E02B2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span i18n>Share</span>
        </a>
        <div class='button-row'>
            <a [routerLink]="['/scan']" [queryParams]='{"item-id": null, "key": null}' queryParamsHandling="merge" class="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7461 19.58L12.75 19.5038V13.26H18.9932L19.0693 13.2561C19.4477 13.2179 19.7432 12.8985 19.7432 12.51C19.7432 12.1216 19.4477 11.8021 19.0693 11.7639L18.9932 11.76H12.75V5.51648C12.75 5.10227 12.4142 4.76648 12 4.76648C11.5858 4.76648 11.25 5.10227 11.25 5.51648V11.76H5.00586C4.59165 11.76 4.25586 12.0958 4.25586 12.51C4.25586 12.9242 4.59165 13.26 5.00586 13.26H11.25V19.5038L11.2539 19.58C11.2921 19.9583 11.6115 20.2538 12 20.2538C12.3885 20.2538 12.7079 19.9583 12.7461 19.58Z" fill="#4E02B2"/>
                </svg>
                <span i18n>Add Another</span>
            </a>
            <a class="button" (click)='downloadImage()'>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                    <path d="M12.5 5.38306V13.8831M12.5 13.8831L15.5 10.8831M12.5 13.8831L9.5 10.8831M5.5 15.3831V17.3831C5.5 17.9135 5.71071 18.4222 6.08579 18.7973C6.46086 19.1723 6.96957 19.3831 7.5 19.3831H17.5C18.0304 19.3831 18.5391 19.1723 18.9142 18.7973C19.2893 18.4222 19.5 17.9135 19.5 17.3831V15.3831" stroke="#4E02B2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span i18n>Download</span>
            </a>
        </div>
    </div>
}